# Node.js dependencies
node_modules/
yarn-error.log
yarn-debug.log*
package-lock.json

# TypeScript build outputs
dist/
build/
*.js
*.js.map
*.d.ts

# Logs
logs/
*.log
npm-debug.log*
debug.log*
error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local